<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <link rel="stylesheet" href="/static/core/style.css">
</head>
<body>

    <header>
        <div class="navbar">
            <h2>Products</h2>

            <nav>
                <a href="/">Home</a>
                <a href="/about/">About</a>
                <a href="/contact/">Contact</a>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>